<section class="section-wrapper">
    <div class="container">
        <div class="container">
        <div class="section-header row mb-2">
            <div class="col col-12 col-md-6 align-self-center mr-auto">
                <p class="title">about us</p>
            </div>
            <div class="col col-3 col-md-1 d-none d-lg-block align-self-center">
                <button class="btn btn-outline rounded-circle prev-img"><i class="fas fa-arrow-left"></i></button>
            </div>
            <div class="col col-3 col-md-1 d-none d-lg-block align-self-center">
                <button class="btn btn-outline rounded-circle next-img"><i class="fas fa-arrow-right"></i></button>
            </div>
        </div>
        </div>
        <div  class="swiper-container images" [swiper]="aboutConfig" >
            <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let item of aboutData1" >     
                    <mat-card class="p-0">                       
                        <img src="/static/tourapi/angular/assets/images/tour/tour_{{item.id}}.jpeg" />                           
                    </mat-card>                         
                </div>                     
            </div>            
        </div> 

        <div class="section-content"> 
            <p class="title">{{app_settings.company_name}}</p>
            <p class="about-desc">{{app_settings.description}}</p>
            <div class="container">
                <div class="stats row">
                    <div class="col text-center">
                        <p>{{app_settings.employee_number}}</p>
                        <p>People in the team</p>
                    </div>
                    <div class="col text-center">
                        <p>{{app_settings.tour_bookings}}</p>
                        <p>Travels this year</p>
                    </div>
                    <div class="col text-center">
                        <p>1889</p>
                        <p>We have been working since</p>
                    </div>
                </div>
            </div>
            <div class="profile-imgs">
                <p class="title">team</p>
                <div class="container">
                    <div class="row">
                        <div class="col col-12 col-md-4 mb-2 mb-md-0" *ngFor="let item of profileData">
                            <mat-card >
                                <img src="/static/tourapi/angular/assets/profile/profile_{{item.id}}.jpg"/>
                                <mat-card-content>
                                    <p>{{item.name}}</p>
                                    <p>{{item.title}}</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

